

@media screen and (max-width: 992px)


{

    .container {
        display: grid;
        width: 90%;
        height: 700px;
        grid-template-columns: 1fr 1fr; 
        grid-template-rows: 1fr 1fr 1fr; 
        gap: 0px 20px; 
        grid-template-areas: 
        "img1 img2"
        "img3 img4"
        "img5 img6"; 
    }

.bodyresp{

    padding-left: 0%;
}
.video1{
    width: 60%;
}
.aside1{

    width: 30%;
}
.footer{

width: 100%;
}

.img1 { 
    width: 90%;
}
.img2 { 
    width: 90%;
}
.img3 { 
    width: 90% ;}
.img4 { 
    width: 90% ;}
.img5 { 
    width: 90% ;}
.img6 { 
    width: 90% ;}
.imgGrid1 {
    height: 300px;
}
.imgGrid2 {
    height: 300px;
}
.imgGrid3 {
    height: 300px;
}
.imgGrid4 {
    height: 300px;
}
.imgGrid5 {
    height: 300px;
}
.imgGrid6 {
    height: 300px;
}
}